In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("D:/studymaterial/DATA SCIENCE/air_quality_no2_long_lyst.csv")
df

,city,country,date.utc,location,parameter,value,unit
0,Paris,FR,2019-06-21 00:00:00+00:00,FR04014,no2,20.0,µg/m³
1,Paris,FR,2019-06-20 23:00:00+00:00,FR04014,no2,21.8,µg/m³
2,Paris,FR,2019-06-20 22:00:00+00:00,FR04014,no2,26.5,µg/m³
3,Paris,FR,2019-06-20 21:00:00+00:00,FR04014,no2,24.9,µg/m³
4,Paris,FR,2019-06-20 20:00:00+00:00,FR04014,no2,21.4,µg/m³
...,...,...,...,...,...,...,...
2063,London,GB,2019-05-07 06:00:00+00:00,London Westminster,no2,26.0,µg/m³
2064,London,GB,2019-05-07 04:00:00+00:00,London Westminster,no2,16.0,µg/m³
2065,London,GB,2019-05-07 03:00:00+00:00,London Westminster,no2,19.0,µg/m³
2066,London,GB,2019-05-07 02:00:00+00:00,London Westminster,no2,19.0,µg/m³
2067,London,GB,2019-05-07 01:00:00+00:00,London Westminster,no2,23.0,µg/m³

In [3]:
df.dtypes

city          object
country       object
date.utc      object
location      object
parameter     object
value        float64
unit          object
dtype: object

Don't have file like : date.utc, rename

In [4]:
df=df.rename(columns={"date.utc":"date_time"})
df

,city,country,date_time,location,parameter,value,unit
0,Paris,FR,2019-06-21 00:00:00+00:00,FR04014,no2,20.0,µg/m³
1,Paris,FR,2019-06-20 23:00:00+00:00,FR04014,no2,21.8,µg/m³
2,Paris,FR,2019-06-20 22:00:00+00:00,FR04014,no2,26.5,µg/m³
3,Paris,FR,2019-06-20 21:00:00+00:00,FR04014,no2,24.9,µg/m³
4,Paris,FR,2019-06-20 20:00:00+00:00,FR04014,no2,21.4,µg/m³
...,...,...,...,...,...,...,...
2063,London,GB,2019-05-07 06:00:00+00:00,London Westminster,no2,26.0,µg/m³
2064,London,GB,2019-05-07 04:00:00+00:00,London Westminster,no2,16.0,µg/m³
2065,London,GB,2019-05-07 03:00:00+00:00,London Westminster,no2,19.0,µg/m³
2066,London,GB,2019-05-07 02:00:00+00:00,London Westminster,no2,19.0,µg/m³
2067,London,GB,2019-05-07 01:00:00+00:00,London Westminster,no2,23.0,µg/m³

In [5]:
df.dtypes

city          object
country       object
date_time     object
location      object
parameter     object
value        float64
unit          object
dtype: object

In [7]:
df["date_time"]=pd.to_datetime(df["date_time"])

In [8]:
df.dtypes

city                      object
country                   object
date_time    datetime64[ns, UTC]
location                  object
parameter                 object
value                    float64
unit                      object
dtype: object

In [9]:
df["date_time"].min()

Timestamp('2019-05-07 01:00:00+0000', tz='UTC')

In [10]:
df["date_time"].max()

Timestamp('2019-06-21 00:00:00+0000', tz='UTC')

In [11]:
#no. of dates/days
df["date_time"].max()- df["date_time"].min()

Timedelta('44 days 23:00:00')

In [12]:
df["date_time"].dt.month

0       6
1       6
2       6
3       6
4       6
       ..
2063    5
2064    5
2065    5
2066    5
2067    5
Name: date_time, Length: 2068, dtype: int32

In [13]:
#how many entries do we have for may?
df["date_time"].dt.month.value_counts()

date_time
5    1256
6     812
Name: count, dtype: int64

In [14]:
df["date_time"].dt.hour

0        0
1       23
2       22
3       21
4       20
        ..
2063     6
2064     4
2065     3
2066     2
2067     1
Name: date_time, Length: 2068, dtype: int32

In [15]:
df["date_time"].dt.day

0       21
1       20
2       20
3       20
4       20
        ..
2063     7
2064     7
2065     7
2066     7
2067     7
Name: date_time, Length: 2068, dtype: int32

In [16]:
df["date_time"].dt.weekday

0       4
1       3
2       3
3       3
4       3
       ..
2063    1
2064    1
2065    1
2066    1
2067    1
Name: date_time, Length: 2068, dtype: int32

In [17]:
df["date_time"]

0      2019-06-21 00:00:00+00:00
1      2019-06-20 23:00:00+00:00
2      2019-06-20 22:00:00+00:00
3      2019-06-20 21:00:00+00:00
4      2019-06-20 20:00:00+00:00
                  ...
2063   2019-05-07 06:00:00+00:00
2064   2019-05-07 04:00:00+00:00
2065   2019-05-07 03:00:00+00:00
2066   2019-05-07 02:00:00+00:00
2067   2019-05-07 01:00:00+00:00
Name: date_time, Length: 2068, dtype: datetime64[ns, UTC]