In [1]:
list_l=[1,2,3,4,5]
#square of numbers inside the list
new_list=[]
for i in list_l:
    x=i**2
    new_list.append(x)
print(new_list)

[1, 4, 9, 16, 25]

#List comprehension in python is a concise way to create a new list or dict based on the existing iterable object( like on List[],dict but not on tuple( immutability), set{unordered})

In [ ]:
#list comprehension

#n=11 natural numbers inside the list
list_natural= [i for i in range(11)]
print(list_natural)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

syntax:
list_comp= [output for temp_var in iterable ]

In [4]:
#list_comprehension with conditional statements: 

#even or odd numbers
num_list=[ i for i in range(12) if i%2==0]
print(num_list)

[0, 2, 4, 6, 8, 10]

In [5]:
num=[i for i in range(1,12) if i%2!=0]
print(num)

[1, 3, 5, 7, 9, 11]

In [6]:
num_even=[i for i in range(1,12) if i%2==0]
print(num_even)

[2, 4, 6, 8, 10]

#list_comp with if-else:

syntax:
   var=[ output if condition else output for i in iterable]

In [7]:
list_if_else= ["even" if i%2==0 else "odd" for i in range(1,13)]
list_if_else

['odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

In [8]:
#check if the last alphabet of the str present inside the list is 'a' or not
#if 'a' print Yes
# if not ending with 'a' then print that str.

list_str=[ "banana", "apple","guava", "dragon fruit","litchi"]
practice=[ "yes" if i[-1]=="a" else i for i in list_str]
practice

['yes', 'apple', 'yes', 'dragon fruit', 'litchi']

In [9]:
"papaya"[-1]

'a'

In [10]:
list_first=[2,3,4,5]
list_sec=[3,4,5,6]

product=[]
for i,j in zip(list_first,list_sec):
    product.append(i*j)

print(product)

[6, 12, 20, 30]

In [11]:
product

[6, 12, 20, 30]

In [12]:
#list_comprehension product
list_comp_product=[i*j for i,j in zip(list_first,list_sec)]
list_comp_product

[6, 12, 20, 30]

#Dict comprehension

In [13]:
#creation of dictionary w/o comprehension:
list_d=[2,3,4,5,6]
dict_d={}

for i in list_d:
    dict_d[i]=i**2
print(dict_d)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [15]:
#program in dict_compre
ans_dict={i:i**2 for i in list_d}
print(ans_dict)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
#sum of numbers
sum=0
for i in range(1,11):
    sum+=i
    print(sum)

#how to do sum with comprehension

1
3
6
10
15
21
28
36
45
55

#syntax: dict_comp
#dictn={output for i in iterable if condition} 

#dictn={ output_true if condition else output_f for i in iterable}

Given the list, to print the word of the list as key of the dict & the last alphabet of the word as value inside the dict:

In [20]:
list_game=["badminton"," basketball", "kho-kho","cricket"]
dict_alpha={ i:i[-1] for i in list_game}
print(dict_alpha)

{'badminton': 'n', ' basketball': 'l', 'kho-kho': 'o', 'cricket': 't'}

Pickup n natural numbers and place that inside a list,after that find the numbers which are less than 5 and perform the cube of that number and place the number as the key in dict & cube as the value in dict.

In [24]:
n=int(input("enter the value of n: "))
n_list=[i for i in range(1,n)]
n_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [25]:
dict_cube={ i:i**3 for i in n_list if i<5}
print(dict_cube)

{1: 1, 2: 8, 3: 27, 4: 64}